@font-face { 
font-family:'Open Sans Condensed'; 
src: url("../font/OpenSans-CondLight.eot?") format('eot'), url(../font/OpenSans-CondLight.otf) format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Open Sans Condensed';
src: url('../font/OpenSans-CondLight.eot');
src: url('../font/OpenSans-CondLight.eot') format('embedded-opentype'),
url('../font/OpenSans-CondLight.woff') format('woff'),
url('../font/OpenSans-CondLight.ttf') format('truetype'),
url('../font/OpenSans-CondLight.otf') format('opentype');
font-weight: normal;
font-style: normal;

}